@model PagingModel

<nav aria-label="...">
    <ul class="pagination justify-content-center">
        <li class="page-item @(Model.PreviousPage == Model.CurrentPage ? "disabled" : "")">
            <a class="page-link" asp-route-id="@Model.PreviousPage">Previous</a>
        </li>
        <li class="page-item active" aria-current="page">
            <span class="page-link">                
                <span class="sr-only">@Model.CurrentPage</span>
            </span>
        </li>
        <li class="page-item @(Model.NextPage > Model.PagesCount ? "disabled" : "")">
            <a class="page-link" asp-route-id="@Model.NextPage">Next</a>
        </li>
    </ul>
</nav>

<br>
